<div id="<%= dom_id post %>" class="post_container">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= tag.span(data: { search_target: "title" }) { post.title } %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= tag.span(data: { search_target: "body" }) { post.body } %>
  </p>
</div>
