<div id="<%= dom_id post %>" class="post_container">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <span data-search-target="title"><%= post.title %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <span data-search-target="body"><%= post.body %></span>
  </p>
</div>
